
desktop.ini
__pycache__/main gui.cpython-39.pyc
__pycache__/восстановление.cpython-39.pyc
__pycache__/доп_канал.cpython-39.pyc
__pycache__/комплексирование.cpython-39.pyc
__pycache__/согласование.cpython-39.pyc
__pycache__/увеличение.cpython-39.pyc
